[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.31.0"
pyyaml = "==6.0"
pytz = "==2023.3"
certifi = "==2023.5.7"
charset-normalizer = "==3.2.0"
idna = "==3.4"
urllib3 = "==2.0.3"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
